@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #3C3633;;
}

.navbar {
    height: 8vh;
    background-color: #E0CCBE !important;
    width: 100vw;
}

body {
    background-color: #EEEDEB;
    height: 100vh;
    width: 100vw;
}

.back_btn a {
    color: #198754;
    text-decoration: none;
}

.btn:hover a {
    color: #FFFF;
}

.back_btn:hover svg {
    fill: #FFFF;
}