{% extends 'base.html' %}
{% block css %} <link rel="stylesheet" href="../static/css/employees.css">{% endblock %}
{% block title %} Dipendenti {% endblock %}
{% block form %}
<input class="form-control me-2" type="search" placeholder="Cerca dipendente" aria-label="Search" style="width: 20vw;", name="nominativo">
<button class="btn btn-outline-success btn-lg" type="submit">Cerca</button>
{% endblock %}
{% block container %}
<div class="add_btn mt-5">
    <a href="{{ url_for('add_employee')}}">
        <button>
            <span>Aggiungi un vigilante</span>
            <span><svg xmlns="http://www.w3.org/2000/svg" height="48px" viewBox="0 -960 960 960" width="48px" fill="#747264"><path d="M453-280h60v-166h167v-60H513v-174h-60v174H280v60h173v166Zm27.27 200q-82.74 0-155.5-31.5Q252-143 197.5-197.5t-86-127.34Q80-397.68 80-480.5t31.5-155.66Q143-709 197.5-763t127.34-85.5Q397.68-880 480.5-880t155.66 31.5Q709-817 763-763t85.5 127Q880-563 880-480.27q0 82.74-31.5 155.5Q817-252 763-197.68q-54 54.31-127 86Q563-80 480.27-80Zm.23-60Q622-140 721-239.5t99-241Q820-622 721.19-721T480-820q-141 0-240.5 98.81T140-480q0 141 99.5 240.5t241 99.5Zm-.5-340Z"/></svg></span>
        </button>
    </a>
</div>
    <div class="row">
        <div class="col">
            <div class="list mt-5 text-center">
                {% if ruoli %}
                    {% for ruolo in ruoli %}
                        <div class="dropdown mt-3">
                            <div class="dropdown-toggle" role_id ="{{ ruolo[0] }}">
                                {{ ruolo[1] }}
                            </div>
                            <div class="dropdown-menu list-group" id="dropdownMenu{{ ruolo[0] }}">
                                {% for vigilante in vigilanti %}
                                    {% if vigilante[2] == ruolo[0] %}
                                        <a href="#" class="dropdown-item list-group-item list-group-item-action list-group-item-dark" data-id="{{ vigilante[0] }}" data-name="{{ vigilante[1] }}" data-role="{{ ruolo[1] }}">
                                            {{ vigilante[1] }}
                                        </a>
                                    {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                    {% endfor %}
                {% else %}
                <h1>Nessun vigilante trovato</h1>
                {% endif %}
            </div>
        </div>
        <div class="col mt-5">
            <div class="view">
                <form class="form change" action="" method="post" novalidate autocomplete="off">
                    {{ form.hidden_tag() }}
                    {{ form.hidden_id(value="", id="hidden_id")}}
                    {{ form.hidden_array(value="", id="hidden_array")}}
                    {{form.nominativo(class="form-control-plaintext nominativo" + (" is-invalid" if form.nominativo.errors else ""), disabled=True, id="nominativo") }}
                    {% for error in form.nominativo.errors %}
                    <div class="invalid-feedback">{{ error }}</div>
                    {% endfor %}
                    {{form.ruolo(class="form-control-plaintext ruolo" + (" is-invalid" if form.ruolo.errors else ""), disabled=True, id='ruolo') }}
                    {% for error in form.ruolo.errors %}
                    <div class="invalid-feedback">{{ error }}</div>
                    {% endfor %}
                    <hr>
                    <h3 class="text-center">Preferenze</h3>
                    <div class="input-group text-center">
                        <div class="input">
                            <label for="inizio">Ora di inizio</label>
                            {{form.inizio(class="form-control-plaintext", id="inizio", disabled=True)}}
                        </div>
                        <div class="input">
                            <label for="fine">Ora di fine</label>
                            {{form.fine(class="form-control-plaintext", id="fine", disabled=True)}}
                        </div>
                    </div>
                    <div class="input-group">
                        <div class="input">
                            <label for="ore">Ore di lavoro</label>
                            {{form.ore(class="form-control-plaintext", id="ore", disabled=True)}}
                        </div>
                        <div class="input">
                            <label for="riposi">Riposi settimanali</label>
                            {{form.riposi(class="form-control-plaintext", id="riposi", disabled=True)}}
                        </div>
                        <div class="check">
                            <div class="form-check">
                                <label class="form-check-label" for="piu_turni">Più turni</label>
                                {{form.piu_turni(class="form-check-input", id="piu_turni", disabled=True)}}
                            </div>
                        </div>
                    </div>
                    <hr>
                    <h4 class="text-center">Assegnazioni</h4>
                    <div class="container-assegnazioni d-flex flex-column">
                    </div>
                    <div class="buttons mt-3 p-4">
                        <button type="button" class="btn btn-secondary" id="modifica">Modifica</button>
                    <button type="button" class="btn btn-danger" id="delete">Elimina</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
<script>
    var assegnazionToDelete = [];
    // Delete vigilante
    document.querySelector('#delete').addEventListener('click', function () {
        var id = document.querySelector('#hidden_id').value
        sendID('delete_vigilante', id).then(
            window.location.reload()
        )
    })
    // Show vigilantes
    document.querySelectorAll('.dropdown-toggle').forEach(item => {
        item.addEventListener('click', function () {
            id = this.getAttribute('role_id');
            var dropdownMenu = document.getElementById('dropdownMenu' + id);
            dropdownMenu.classList.toggle('show');
        })  
    });

    // Show vigilante preferences
    document.querySelectorAll('.dropdown-item').forEach(item => {
        item.addEventListener('click', function(event) {
            event.preventDefault();

            var container_assegnazioni = document.querySelector('.container-assegnazioni')

            var id_vigilante = this.getAttribute('data-id');
            document.querySelector('#hidden_id').value = id_vigilante

            var nominativo = this.getAttribute('data-name');
            document.getElementById('nominativo').value = nominativo;

            var ruolo = this.getAttribute('data-role');
            
            container_assegnazioni.innerHTML = ''
            
            // Setting default value of select input box for role
            var select = document.querySelector('.ruolo');
            selectOption(select, ruolo)

            // Sending post request to retrive the clicked vigilante preferences
            sendID('get_vigilante_preferences', id_vigilante).then(
                data => {
                    var preferenze = data[0][0];
                    var assegnazioni = data[1]

                    document.querySelector('#inizio').value = preferenze.inizio
                    document.querySelector('#fine').value = preferenze.fine
                    document.querySelector('#piu_turni').checked = preferenze.piu_turni
                    document.querySelector('#riposi').value = preferenze.riposi
                    document.querySelector('#ore').value = preferenze.ore_lavoro

                    assegnazioni.forEach(item => {
                        var newAssegnazione = document.createElement('span');
                        newAssegnazione.innerHTML =  `
                                <h5 class="nome_assegnazione">${item.nome}</h5>
                                <button class="remove" type="button" assegnazione-id='${item.id}' style="display:none;">
                                    <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#EA3323"><path d="m330-288 150-150 150 150 42-42-150-150 150-150-42-42-150 150-150-150-42 42 150 150-150 150 42 42ZM480-80q-82 0-155-31.5t-127.5-86Q143-252 111.5-325T80-480q0-83 31.5-156t86-127Q252-817 325-848.5T480-880q83 0 156 31.5T763-763q54 54 85.5 127T880-480q0 82-31.5 155T763-197.5q-54 54.5-127 86T480-80Zm0-60q142 0 241-99.5T820-480q0-142-99-241t-241-99q-141 0-240.5 99T140-480q0 141 99.5 240.5T480-140Zm0-340Z"/></svg>
                                </button>`
                        document.querySelector('.container-assegnazioni').appendChild(newAssegnazione)
            })
                }
            )
        })
    });
    
    // Modify preferences
    let isClicked = false;
    btn = document.querySelector('#modifica')
    btn.addEventListener('click', function () {
        // Second click
        if (isClicked) {
            array = JSON.stringify(assegnazionToDelete)
            document.querySelector('#hidden_array').value = array
            document.querySelector('.change').submit();
            isClicked = false;
        }
        // First click
        if (!isClicked) {
            assegnazionToDelete = [];
            // If a vigilante is selected
            if (document.querySelector('#hidden_id').value != "") {
                elements = ['#nominativo', '#ruolo', '#riposi', '#ore', '#piu_turni', '#inizio', '#fine']
                elements.forEach(selector => {
                    let element = document.querySelector(selector)
                    element.disabled = false
                    element.classList.replace('form-control-plaintext', 'form-control');
                })
                // Showing delete btn on assignements
                document.querySelectorAll('.remove').forEach(item => {
                    item.style.display = 'block'
                    item.addEventListener('click', function () {
                        id = item.getAttribute('assegnazione-id')
                        assegnazionToDelete.push(id)
                    })
                })
                btn.innerHTML = 'Salva'
                isClicked = true;
            }
        }
    })
</script>
{% endblock %}